<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader | <%= file.name %></title>
    <%- include("partials/styles", { style: "file" }) %>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <main>
      <header class="page-heading">
        <div class="heading-container">
          <h1>File Details</h1>
          <div class="dropdown">
            <button class="button dropdown-toggle">
              Actions
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-down-icon lucide-chevron-down"
              >
                <path d="m6 9 6 6 6-6" />
              </svg>
            </button>
            <ul class="dropdown-menu">
              <li><a href="/files/<%= file.id %>/download" class="button">Download</a></li>
              <li><a href="/files/<%= file.id %>/edit" class="button">Rename</a></li>
              <li>
                <form action="/files/<%= file.id %>/delete" method="post">
                  <button type="submit" class="button">Delete</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </header>

      <dl>
        <div>
          <dt>File Name</dt>
          <dd><%= file.name %></dd>
        </div>

        <div>
          <dt>Size</dt>
          <dd><%= file.size %></dd>
        </div>

        <div>
          <dt>Upload Time</dt>
          <dd><%= file.createdAt %></dd>
        </div>

        <% if (file.folder) { %>
          <div>
            <dt>Folder</dt>
            <dd>
              <a href="/folders/<%= file.folder.id %>" class="link-text"><%= file.folder.name %></a>
            </dd>
          </div>
        <% } %>
      </dl>
    </main>
  </body>
</html>
